<div class="container" style="background:white;padding:50px">
<%= simple_form_for @post do |f| %>
  <%= f.input :image %>
<br>
  <%= f.input :title %>
<br>
  <%= f.input :link %>
<br>
  <%= f.input :description %>
<br>
  <%= f.button :submit %>
<br>
<% end %>
</div>